/*
   Master Portfolio style sheet
   Filename: main.css

   Author: Leischow Vang
   Date: 01/29/2023

 */

/* Remove padding and margin */ 
* { 
    margin: 0; 
    padding: 0; 
    border: 0; 
}

/*Container sizing*/
.container {
    margin: auto;
    width: 80%;
}

/*Heading sizing*/
h1 {
    font-family: 'Playfair Display', sans-serif;
    font-size: 2.5em;
    margin-top: 0.6em;
    margin-bottom: 0.6em;
    margin-left: 0;
    margin-right: 0;
} 
     
h2 {
    font-family: 'Playfair Display', sans-serif;
    font-size: 2.2em;
    margin-top: 0.40em;
    margin-bottom: 0.40em;
    margin-left: 0;
    margin-right: 0;
} 
     
h3 {
    font-family: 'Playfair Display', sans-serif;
    font-size: 1.8em;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    margin-left: 0;
    margin-right: 0;
} 
     
h4 {
    font-family: 'Playfair Display', sans-serif;
    font-size: 1.4em;
    margin-top: 0.05em;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
} 
     
h5 {
    font-family: 'Roboto', serif;
    font-size: 1.4em;
    margin-top: 0.05em;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
}
     
p {
    font-family: 'Roboto', serif;
    font-size: 1em;
}

li {font-size: 1.1em;}

/*Navigation Menu*/
nav {
    width: 100%;
    background-color: #274C77;
}
ul.nav-menu {
    display: flex;
    width: 30%;
    padding: 1em 0 1em 0;
    margin-left: auto;
    margin-right: 10%;
    justify-content: space-between;
}
li.nav-item {
    display: inline;
    list-style-type: none;
    font-size: 1.2em;
}
li.nav-item a {
    font-family: 'Roboto', serif;
    color:white;
    text-decoration: none;
}
/*Body*/
body {
    background-color: #6096BA;
}
/*Back To Top Button*/
#topBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 60px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #274C77; /* Set a background color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
  }
  
  #topBtn:hover {
    background-color: #274C77; /* Add a dark-grey background on hover */
  }

/*Intro*/
#aboutMe {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#intro-img {
    border-radius: 50%;
}

#aboutMe p {
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
}
/*My projects*/
#projects {
    display: flex;
    height: 30%;
    flex-direction: column;
    align-items: center;
   }
  
   div.project {
    width: 100%;
    background-color: #E7ECEF;
    border-radius: 2em;
    padding: 3em;
    margin-top: 1em;
    margin-bottom: 1em;
    display: flex;
    flex-direction: row;
   }
  
   li {
    list-style-type: none;
    font-size: .7em;
  }
  .project-info {
    width: 60%;
    padding-right: 2em;
  }
  .offcanvas-size-sm {
    --bs-offcanvas-width: min(95vw, 100%) !important;
}
.offcanvas-title {
    color:white;
}
.offcanvas-header {
    background-color: #274C77;
}
.btn-close {
    background-color: #E7ECEF;
}
/*Website Redesign section*/
#blog-redesign {
    display: flex;
}

.blog-image {
   width: 40%;
   padding-right: 1em;
}

/*Footer*/
footer {
    padding: 10%;
    text-align: center;
    background-color: #274C77;
    color: white;
}

button a {
    color: #E7ECEF;
    text-decoration: none;
}