/*
   Master Portfolio style sheet
   Filename: main.css

   Author: Leischow Vang
   Date: 01/29/2023

 */

/* Remove padding and margin */ 
* { 
    margin: 0; 
    padding: 0; 
    border: 0; 
}

/*Container sizing*/
.container {
    margin: auto;
    width: 80%;
}

/*Heading sizing*/
h1 {
    font-size: 2.5em;
    margin-top: 0.6em;
    margin-bottom: 0.6em;
    margin-left: 0;
    margin-right: 0;
} 
     
h2 {
    font-size: 2.2em;
    margin-top: 0.40em;
    margin-bottom: 0.40em;
    margin-left: 0;
    margin-right: 0;
} 
     
h3 {
    font-size: 1.8em;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    margin-left: 0;
    margin-right: 0;
} 
     
h4 {
    font-size: 1.6em;
    margin-top: 0.06em;
    margin-bottom: 0.06em;
    margin-left: 0;
    margin-right: 0;
} 
     
h5 {
    font-size: 1.4em;
    margin-top: 0.05em;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
} 
     
p {font-size: 1em;}

li {font-size: 1.1em;}

/*Navigation Menu*/
nav {
    width: 100%;
    background-color: azure;
}
ul.nav-menu {
    display: flex;
    width: 40%;
    padding: 1em 0 1em 0;
    margin-left: auto;
    margin-right: 10%;
    justify-content: space-between;
}
li.nav-item {
    display: inline;
    list-style-type: none;
    font-size: 1.2em;
}
li.nav-item a {
    text-decoration: none;
}
/*Intro*/
#aboutMe {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#intro-img {
    border-radius: 50%;
}

#aboutMe p {
    margin-left: 20%;
    margin-right: 20%;
}
/*My projects*/
#projects {
    display: flex;
    height: 30%;
    flex-direction: column;
    align-items: center;
   }
  
   div.project {
    width: 100%;
    padding: 1em;
    margin-bottom: 1em;
    border: 1px solid gray;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
   }
  
   li {
    list-style-type: none;
    font-size: .7em;
  }
  .project-info {
    width: 60%;
  }
  .offcanvas-size-sm {
    --bs-offcanvas-width: min(95vw, 100%) !important;
}