/*
   Master Portfolio style sheet
   Filename: main.css

   Author: Leischow Vang
   Date: 03/05/2023

 */

/* Remove padding and margin */ 
* { 
    margin: 0; 
    padding: 0; 
    border: 0; 
}

/*Container sizing*/
.container {
    margin: auto;
}

.container h2 {
    color: #388087;
}

/*Heading sizing*/
h1 {
    font-family: 'Playfair Display', sans-serif;
    font-weight: bold;
    font-size: 4rem;
    margin-top: 0.6rem;
    margin-bottom: 2rem;
    margin-left: 0;
    margin-right: 0;
}

h2 {
    font-family: 'Playfair Display', sans-serif;
    font-size: 3.5rem;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    margin-left: 0;
    margin-right: 0;
} 
     
h3 {
    font-family: 'Roboto', serif;
    font-weight: 500;
    font-size: 2.2em;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    margin-left: 0;
    margin-right: 0;
} 
     
h4 {
    font-family: 'Playfair Display', sans-serif;
    font-size: 2.6em;
    margin-top: 0.05em;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
} 
     
h5 {
    font-family: 'Roboto', serif;
    font-size: 1.2em;
    margin-top: 0.05em;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
}
     
p {
    font-family: 'Roboto', serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 2rem;
}

li {font-size: 1.1em;}

/*For line breaks*/
.line-break{
    white-space: pre;
}

/*Navigation Menu*/
nav {
    width: 100%;
    background-color: #388087;
}
ul.nav-menu {
    display: flex;
    width: 40%;
    padding: 1em 0 1em 0;
    margin-left: auto;
    margin-right: 5%;
    justify-content: space-evenly;
}
li.nav-item {
    display: inline;
    list-style-type: none;
    font-size: 1.2em;
}
li.nav-item a {
    font-family: 'Roboto', serif;
    color:white;
    text-decoration: none;
}

#social-media-icons {
    margin: 50px auto 0 auto;
}

#social-media-icons a {
    padding: 5px;
    margin-left: 5px;
    
}

/*Body*/
body {
    background-color: #F6F6F2;
    width: 100%;
}

/*Section*/
section {
    margin-bottom: 5em;
}

/*Form*/
label {
    font-family: 'Roboto', serif;
    font-size: 1.2em;
    margin-top: 0.02em;
    margin-bottom: 0.25em;
    float: left;
    color: #000000;
}
/*Back To Top Button*/
#topBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 60px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #6fb3b8; /* Set a background color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
  }
  
  #topBtn:hover {
    background-color: #badfe7; /* Add a dark-grey background on hover */
  }

/*Intro*/
#aboutMe {
    display: flex;
    margin: 9rem 0 10rem 0;
}

#aboutMe p {
    font-family: 'Roboto', serif;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 2.25rem;
}

#intro-img {
    margin: 0 2em 1em 2em;
    border-radius: 50%;
    max-width: 30%;
    box-shadow: 5px 6px 10px 0px rgba(0,0,0,0.26);
    -webkit-box-shadow: 5px 6px 10px 0px rgba(0,0,0,0.26);
    -moz-box-shadow: 5px 6px 10px 0px rgba(0,0,0,0.26);
}

#intoduction {
    width: 100%;
}

.typewriter {
    width: 70%;
}
/**
 * https://css-tricks.com/snippets/css/typewriter-effect/ 
 * Created: Geoff Graham
 * Title: Typewriter Effect
 **/
.typewriter h1 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid #6fb3b8; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .1em; /* Adjust as needed */
    animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #6fb3b8; }
}

/*My skillsset*/

/*My Product Process*/
.full-width-container {
    background-color: #388087;
}
#process-section {
    width: 100%;
    margin: auto;
    overflow: hidden;
    padding: 4rem 0 4rem 0;
}

#process-section hr {
    color: white;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    height: 2px;
    border-width: 2px;
}

#process-intro {
    padding-bottom: 2rem;
    margin: auto;
    width: 70%;
}

#process-intro h3 {
    margin-bottom: 3rem;
    color: white;
    text-align: center;
}

#process-section h2 {
    color: white;
    text-align: center;
}

#process-container {
    display: flex;
    width: 90%;
    justify-content: space-between;
    margin: 4rem auto 4rem auto;
}

.step-number {
    color: #6fb3b8;
    font-size: 6rem;
    font-weight: 500;
}

.process-step h4 {
    margin-top: 4rem;
    transition: all .5s ease;
}

/**
 * https://alvarotrigo.com/
 * Created: Oscar Jite
 * Title: How to Create CSS Animations on Scroll [With Examples]
 **/
.reveal{
    position: relative;
    transform: translateX(1%) translateY(1%);
    opacity: 0;
    transition: 2s all ease;
}
.reveal.active {
    animation-name: fadeInBottom;
    opacity: 1;
}

@keyframes fadeInBottom {
    from {
        opacity: 0;
        transform: translateY(100%);
    }
    to {opacity: 1;}
}

.process-step {
    width: 100%;
    padding: 1rem 1rem 3rem 1rem;
    margin: 0 .5rem 1rem .5rem;
    background-color: white;
    border: .3rem solid #ffffff;
    transition: all .5s ease;
}

.process-step:hover {
    border: .3rem solid #badfe7;
    box-shadow: -1px 9px 17px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: -1px 9px 17px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 9px 17px 0px rgba(0,0,0,0.75);
}

.process-step:hover h4 {
    color: #388087;
}

.step-one {animation-duration: 1s;}

.step-two {animation-duration: 1.5s;}

.step-three {animation-duration: 2s;}

.step-four {animation-duration: 2.5s;}


/*mobile view*/
@media only screen and (max-width: 800px) {
    #process-container {
        flex-direction: column;
    }

    .process-step {
        margin: 0 0 1rem 0;
    }
  }

/*Call to action section*/
.action-section {
    display: flex;
    flex-direction: column;
    padding-bottom: 6rem;
}
.action-section h4 {
    text-align: center;
    font-weight: 600;
    color: white;
    margin-bottom: 3rem;
}

.action-section button {
    margin: auto;
    box-shadow: -1px 7px 11px -2px rgba(0,0,0,0.5);
    -webkit-box-shadow: -1px 7px 11px -2px rgba(0,0,0,0.5);
    -moz-box-shadow: -1px 7px 11px -2px rgba(0,0,0,0.5);
}

/*My projects*/
.portfolio-section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

ol li {
    list-style: decimal;
    font-size: 1em;
    line-height: 1.7;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 20%;
    margin-right: 20%;
}

/*Website Redesign section*/
figure.snip1328 {
    position: relative;
    overflow: hidden;
    min-width: 28rem;
    max-width: 39rem;
    max-height: 27rem;
    width: 100%;
    text-align: center;
    border-radius: .5rem;
  }

  figure.snip1328 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.6s ease;
    transition: all 0.6s ease;
  }
  figure.snip1328 img {
    opacity: 1;
    width: 100%;
  }
  figure.snip1328:after,
  figure.snip1328:before {
    background: #ffffff;
    width: 0;
    height: 100%;
    position: absolute;
    content: '';
    opacity: 0.5;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    z-index: 1;
  }
  figure.snip1328:after {
    top: 0;
    left: 0;
  }
  figure.snip1328:before {
    right: 0;
    bottom: 0;
  }
  figure.snip1328 figcaption {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 2;
  }

  figure.snip1328 h4,
  figure.snip1328 p {
    margin: 0;
    width: 100%;
    opacity: 0;
  }

  figure.snip1328 h4 {
    padding: 0 30px;
    font-weight: 500;
    text-transform: uppercase;

  }

  figure.snip1328 p {
    padding: 0 50px;
    font-size: 0.8em;
    font-weight: 500;
  }
  figure.snip1328 a {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    z-index: 2;
  }
  figure.snip1328:hover img,
  figure.snip1328.hover img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
  }
  figure.snip1328:hover:after,
  figure.snip1328.hover:after,
  figure.snip1328:hover:before,
  figure.snip1328.hover:before {
    width: 100%;
    height: 100%;
  }
  figure.snip1328:hover figcaption h4,
  figure.snip1328.hover figcaption h4,
  figure.snip1328:hover figcaption p,
  figure.snip1328.hover figcaption p {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
  }
  figure.snip1328:hover figcaption h4,
  figure.snip1328.hover figcaption h4 {
    opacity: 1;
  }
  figure.snip1328:hover figcaption p,
  figure.snip1328.hover figcaption p {
    opacity: 0.7;
  }

/*Footer*/
footer {
    padding: 10%;
    text-align: center;
    background-color: #388087;
    color: white;
}

button a {
    color: #E7ECEF;
    text-decoration: none;
}

.connect-btn {
    color: #ffffff;
    background-color: #6fb3b8;
    box-shadow: -1px 7px 11px -2px rgba(0,0,0,0.5);
    -webkit-box-shadow: -1px 7px 11px -2px rgba(0,0,0,0.5);
    -moz-box-shadow: -1px 7px 11px -2px rgba(0,0,0,0.5);
}

.connect-btn:active{
    background-color: #badfe7;
}

.connect-btn:hover {
    background-color: #c2edce;
}

button.close {
    background-color: transparent;
}

/*Animation*/
.fadein {
    position: relative;
    transform: translateX(1%) translateY(1%);
    opacity: 1;
    animation: fadeIn 2s ease;
}
  
@keyframes fadeIn {
    0% { 
        opacity: 0;
        transform: translateY(100%);
    }
    100% { opacity: 1;}
  }

